* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande','Lucida Sans Regular', 'Lucida Sans Unicode','Lucida Sans', Verdana, Tahoma, sans-serif;

}

:root {
    
    --color-theme: #00594c;
    --color-active: #5df2d6;
    --color-back-active: #04957d;
    --color-gradient: linear-gradient(to right, var(--color-theme),
            var(--color-back-active));
}

body {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button {
    user-select: none;
    -webkit-user-select: none;
    background-color: var(--color-theme);
    border-radius: 12px;
    border: none;
    color: white;
    padding: 10px 11px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 12spx;
    font-weight: bold;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--color-gradient);
    border-bottom: 3px solid var(--color-active);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    
    
}

nav li {
    flex:
        0 0 auto; 
}

nav li a {
    display: block;
    padding: 16px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold ;
    color: var(--color-active);
}

nav{
    font-weight: bold;
    border-bottom: 5px #5df2d6;
    
}

nav li a:hover{
    color: var(--color-back-active);    
}

nav li.current-page a{
    color: var(--color-theme);
    background: var(--color-active);
    pointer-events: none;
    border-top-left-radius:  15px;
    border-top-right-radius:  15px;
}

main {
    margin-top: 150px;
    overflow: auto;
    padding: 16px;
    padding-bottom: 60px;
    height: calc (100% - 120px);
}

h1 {
    text-align: center;
    margin:
        0;
    color: white;
    
    
}

h1>img {
    width: 70px;
    vertical-align: middle;
    align-items: center;
    
}

h2 {
    color: var(--color-theme);
    margin: 16px 0;
    text-align: center;
    font-weight: bold;
    
}

h3 {
    color: var(--color-theme);
    margin: 8px 0;
    text-align: center;
}

main section {
    display: flex;
    justify-content: space-around;
}

footer {
    position: fixed;
    bottom: 0px;
    background: var(--color-gradient);
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3px solid var(--color-active);
}

footer p {
    font-size: small;
    color: white;
}

main p {
    margin-bottom: 16px;
}

form{
    font-weight: bold;
}

@media (min-width: 400px) {
    main {
        padding-left: 10%;
        padding-right: 10%;
    }

    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}